<html>
    <head>
        <title>Home</title>
        <link href="../semantic/semantic.css" type="text/css" rel="stylesheet"/>
        <link href="../css/template.css" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        <!-- This is the top menu and sidebar menu part -->
        <div class="ui top attached menu topbar">
            <div class="item">
                <a class="ui mini image">
                    <img src="../images/dlsulogo.png"/>
                </a>
                
                <div class="item">
                    <div class="brand-text">
                        Office of the Vice Chancellor for Academics
                    </div>
                </div>
            </div>
            
            <div class="right item">
              <div class="ui inverted basic button">
                  Log Out
              </div>
            </div>
        </div>
        
        <div class="ui sidebar inverted visible vertical menu">
          <div class="sidebar-content">
            <a class="active item">
                Home
                <i class="home icon"></i>
            </a>
            <a class="item">
                Request Grant
                <i class="edit outline icon"></i>
            </a>
            <a class="item">
                My Request
                <i class="file outline icon"></i>
            </a>
          </div>
        </div>
        
        <!-- Container is here -->
        <div class="main-content">
            <h1>Home</h1>     
        </div>
    </body>
    
    <script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../semantic/semantic.js"></script>
</html>