<html>
    <head>
        <title>Home</title>
        <link href="../semantic/semantic.css" type="text/css" rel="stylesheet"/>
        <link href="../css/main.css" type="text/css" rel="stylesheet"/>
    </head>

  <body>
    <div class="ui inverted huge borderless fixed fluid menu">
        <a class="header item">
            <div class="ui mini image">
                <img src="D:\[NEED] Faculty Development Grants\SOFENGG-VCA\public\images\dlsulogo.png"/>
            </div>

            <div class="brand-text">
                Office of the Vice Chancellor <br> for Academics
            </div>
        </a>
        
        <div class="right menu">
            <a class="item">
                <i class="bell icon"></i>
            </a>
            <a class="item">Log Out</a>
        </div>
    </div>

    <div class="ui grid">
        <div class="row">
            <div class="column" id="sidebar">
                <div class="ui secondary vertical fluid menu">
                    <a class="active item">
                        Request Grant
                        <i class="edit outline icon"></i>
                    </a>
                    <a class="item">
                        My Request
                        <i class="file outline icon"></i>
                    </a>
                </div>
            </div>
                
            <div class="column" id="content">
                <div class="ui grid">
                    <div class="row">
                        <h1 class="ui huge header">
                            Welcome!
                        </h1>
                    </div>
                    <div class="ui divider"></div>
                    <div class="two column center aligned row">
                        <div class="column">
                            <h1>Col 1</h1>
                            <p>Sample colsszz</p>
                        </div>
                        <div class="column">
                            <h1>Col 2</h1>
                            <p>Sample colsszz</p>
                        </div>
                    </div>
                    <div class="row">
                        <p>Goods baaa? Pag hindi cols ang need, use this mga pre :D
                        </p>
                    </div>
            </div>
        </div>
    </div>
  </body>
  
  <script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../semantic/semantic.js"></script>
</html>