<!DOCTYPE html>
<html>

<head>
    <title>Faculty Development Fund</title>
    <link href="../semantic/semantic.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../index.css" type="text/css" rel="stylesheet"/>
</head>

<body>
    <div class="ui middle aligned center aligned grid countier">
        <div class="column">
            <div class="ui items">
                <div class="item">
                    <a class="ui tiny image">
                        <img src="../images/dlsulogo.png">
                    </a>
                     <div class="content">                          
                        <div class="description">
                            <p>De La Salle University</p>
                            <p>Office of the Vice Chancellor for Academics</p>
                        </div>
                     </div>
                </div>
            </div>
                    
            <form  class="ui large form">
                <div class="ui  secondary  segment">
                    <h2 class="ui image header">
                        <div class="content">
                            Log In to Your Account
                        </div>
                    </h2>
                    <div class="field">
                        <div class="ui left input">
                            <input type="text" name="userid" placeholder="ID Number">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left input">
                            <input type="password" name="userpassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large darkgreen submit button">Log In</div>
                </div>              
            </form>
        </div>
    </div>
    <script src="../semantic/semantic.js"></script>
</body>
</html>