<!DOCTYPE html>
<html>

<head>
    <title>Faculty Development Grant</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="../semantic/semantic.css" type="text/css" rel="stylesheet"/>
    <link href="../css/index.css" type="text/css" rel="stylesheet"/>

</head>

<body>
    <div class="ui middle aligned center aligned grid countier">
        <div class="column">
            <div class="ui items">
                <div class="item">
                    <a class="ui tiny image">
                        <img src="../images/dlsulogo.png"/>
                    </a>
                     <div class="content">                          
                        <div class="description">
                            <p>De La Salle University</p>
                            <p>Office of the Vice Chancellor for Academics</p>
                        </div>
                     </div>
                </div>
            </div>
                    
            <form id = "loginform" class="ui large form" action = "/login" method = "post">
                <div class="ui  secondary  segment">
                    <h2 class="ui image header">
                        <div class="content">
                            Log In to Your Account
                        </div>
                    </h2>
                    <div class="field">
                        <div class="ui left input">
                            <input type="text" name="idnumber" placeholder="ID Number" required/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left input">
                            <input type="password" name="password" placeholder="Password" required />
                        </div>
                    </div>
                    <div class="ui fluid large darkgreen submit button" onclick="loginform.submit();"> Log In </div>
                </div>
              
                {{#if error}}
                  <div class="error">
                    <div class="ui red tiny message">{{error}}</div>
                  </div>
                {{/if}}
                
            </form>
        </div>
    </div>
    <script src="../semantic/semantic.js"></script>
</body>
</html>