<!-- THIS IS A HOMEPAGE TEST -->
<!DOCTYPE html> 
<html>

<head>
    <title>Faculty Development Grant</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="../semantic/semantic.css" type="text/css" rel="stylesheet"/>
    <link href="../index.css" type="text/css" rel="stylesheet"/>

</head>

<body>
    <div class="ui middle aligned center aligned grid countier">
        <div class="column">
            <div class="ui items">
                <div class="item">
                    <a class="ui tiny image">
                        <img src="../images/dlsulogo.png"/>
                    </a>
                     <div class="content">                          
                        <div class="description">
                            <p>SAMPLE HOME PAGE </p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../semantic/semantic.js"></script>
</body>
</html>