/* This CSS is for the index page */

html, body{
  height:100%;
  margin:0;
  color:#fff;
  text-align:center;
  font-family: 'Roboto';
}

body {
  width:100%;
  background-image: url("../images/henrysy.jpg"); /* background image credits from thelasallian.com */
  background-size: cover;
  background-attachment:fixed;
}

p{
    color: white;
    float: left;
    font-size: 16px;
    font-family: 'Roboto';
}

.grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}  

.ui.darkgreen.button {
  background-color: #2E8B57;
  color: #fff;
}

img.dlsulogoindex{
  cursor: default
}

.loggedout {
  -webkit-animation: fadeinout 5s linear forwards;
  animation: fadeinout 5s linear forwards;
}

.error {
  -webkit-animation: fadeinout 5s linear forwards;
  animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
100% { opacity: 0; }
50% { opacity: 1; }
}

@keyframes fadeinout {
100% { opacity: 0; }
50% { opacity: 1; }
}
